.header{
	background-color: #bfc2c2;
	color:black;
	padding: 2%;
	text-align: center;
}

/* header{
	font-size: -webkit-xxx-large;
} */

.sidebar{
    background-color: #3f818a;
}

.side_items{
    color: white;
    font-size: 24px !important;
}

 /* .col-md-4 img {
    width: 15rem !important;
    margin-top: 15px !important;
    float: left;
} */

.button{
    border-radius: 20px;
    font-size: 30px;
}

.logo{
    width: auto;
}